.home {
    /* text-align: center;
    padding: 20px; */
    /* margin: 10px; */
    background-color: antiquewhite;
  }

  .hhome,.phome{
    text-align: center;
    padding: 20px;
    margin: 10px;
  }